<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>

{{#basic-dropdown}}
  <p>Foo</p>
  <p>Foo</p>
  <p>Foo</p>
  <p>Foo</p>
{{else}}
  Trigger
{{/basic-dropdown}}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit pariatur molestiae adipisci, corporis cupiditate cum odio, a doloremque temporibus tenetur enim delectus, ex! Beatae aliquid asperiores nesciunt vel soluta doloremque.</p>
